
//@import url(https://fonts.googleapis.com/css?family=Squada+One);
@import url(https://fonts.googleapis.com/css?family=Aldrich);

.rs-brand-logo {
	font-family: 'Aldrich', sans-serif;
	font-size: 13pt !important;
	color: lightgray;
	font-weight: bold;
}